h1{ color: blue;}
img{width: 400px;}
#thirdDiv{
    left: 600px;
    width: 500px;
    background-color: rgba(0,0, 255, 0.5);
    padding: 50px;
    border-width: 30px;
    border-color: blue;
    border-style: groove;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
html{
    background: url(https://blog.soyhenry.com/content/images/size/w600/2021/02/BOOM-TESTIMONIO2-3.jpg);
}